In [109]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [130]:
movie_gross = pd.read_csv('../../data/zippedData/bom.movie_gross.csv.gz')
movie_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [131]:
movie_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [136]:
movie_gross.isna().sum()

title             0
studio            0
domestic_gross    0
foreign_gross     0
year              0
dtype: int64

## Data Cleaning

In [135]:
#movie_gross['foreign_gross']= movie_gross['foreign_gross'].str.replace(',','')
#movie_gross['domestic_gross'] = pd.to_numeric(movie_gross['domestic_gross'])
#movie_gross['foreign_gross'] = pd.to_numeric(movie_gross['foreign_gross'])
#movie_gross['domestic_gross'] = movie_gross['domestic_gross'].fillna(movie_gross['domestic_gross'].median())
#movie_gross['foreign_gross'] = movie_gross['foreign_gross'].fillna(movie_gross['foreign_gross'].median())
#movie_gross = movie_gross.dropna()

## Pulling Necessary Data

In [138]:
info = movie_gross[['title','domestic_gross','foreign_gross']]
info.head()

                                         title  domestic_gross  foreign_gross
0                                  Toy Story 3     415000000.0    652000000.0
1                   Alice in Wonderland (2010)     334200000.0    691300000.0
2  Harry Potter and the Deathly Hallows Part 1     296000000.0    664300000.0
3                                    Inception     292600000.0    535700000.0
4                          Shrek Forever After     238700000.0    513900000.0

## Data Visualizations

## Movie_info Dataset

In [58]:
movie_info = pd.read_csv('../../data/zippedData/rt.movie_info.tsv.gz', sep='\t')
movie_info.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [107]:
movie_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1526 entries, 0 to 1559
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        1526 non-null   int64
 1   synopsis  1526 non-null   object
 2   rating    1526 non-null   object
 3   genre     1526 non-null   object
 4   director  1526 non-null   object
 5   writer    1526 non-null   object
 6   runtime   1526 non-null   object
dtypes: int64(1), object(6)
memory usage: 95.4+ KB

## Checking for Null Values

In [82]:
movie_info.isna().sum()

id          0
synopsis    0
rating      0
genre       0
director    0
writer      0
runtime     0
dtype: int64

In [81]:
#movie_info = movie_info.drop(['box_office', 'dvd_date', 'theater_date', 'studio'], axis=1)
#movie_info['writer'] = movie_info['writer'].fillna('Unknown')
#movie_info['director'] = movie_info['director'].fillna('Unknown')
#movie_info['synopsis'] = movie_info['synopsis'].fillna('Unknown')
#movie_info = movie_info.dropna()

## Pulling necessary information

In [96]:
genre = movie_info.loc[movie_info['genre'].str.contains('Drama'), ['genre', 'rating', 'director', 'writer']]
genre.head()

,genre,rating,director,writer
0,Action and Adventure|Classics|Drama,R,William Friedkin,Ernest Tidyman
1,Drama|Science Fiction and Fantasy,R,David Cronenberg,David Cronenberg|Don DeLillo
2,Drama|Musical and Performing Arts,R,Allison Anders,Allison Anders
3,Drama|Mystery and Suspense,R,Barry Levinson,Paul Attanasio|Michael Crichton
4,Drama|Romance,NR,Rodney Bennett,Giles Cooper

## Data Visualizations

## Ask about this data

In [90]:
movie_reviews = pd.read_csv('../../data/zippedData/rt.reviews.tsv.gz', sep='\t')
movie_reviews.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 4: invalid start byte

## TMBD Movie Data

In [91]:
tmbd_movie = pd.read_csv('../../data/zippedData/tmdb.movies.csv.gz')
tmbd_movie.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [94]:
tmbd_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [95]:
tmbd_movie.isna().sum()

Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

## Pulling necessary data

In [104]:
score = tmbd_movie[['title','popularity','vote_count', 'vote_average']]
score.head()

,title,popularity,vote_count,vote_average
0,Harry Potter and the Deathly Hallows: Part 1,33.533,10788,7.7
1,How to Train Your Dragon,28.734,7610,7.7
2,Iron Man 2,28.515,12368,6.8
3,Toy Story,28.005,10174,7.9
4,Inception,27.920,22186,8.3

## Data Visualizations

## Movie Budget Data

In [28]:
movie_budget = pd.read_csv('../../data/zippedData/tn.movie_budgets.csv.gz')
movie_budget.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [105]:
movie_budget.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [106]:
movie_info.isna().sum()

id          0
synopsis    0
rating      0
genre       0
director    0
writer      0
runtime     0
dtype: int64

## Pulling Necessary Data

## Data Visualizations

## IMDB Movie Data

In [29]:
import sqlite3 
import pandas as pd
conn = sqlite3.connect('../../data/zippedData/im.db')

In [15]:
print(conn)

<sqlite3.Connection object at 0x00000246CAEEE8A0>

## Pulling Necessary Data 
-Need to decide the data that we want to pull from here 
-Should take advantage of joins and more

In [30]:
imbd = pd.read_sql("""SELECT * FROM movie_basics ; """, conn)
imbd

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

## Data Visualizations