In [6]:
df = pd.read_csv('../../data/zippedData/bom.movie_gross.csv.gz')
print(df)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [21]:
import sqlite3 
import pandas as pd
conn = sqlite3.connect('../../data/zippedData/im.db.zip')

In [22]:
df = pd.read_sql("""SELECT name FROM sqlite_master WHERE type = 'table'; """, conn)
df

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type = 'table'; ': file is not a database